@import "../utils/mixins";
@import "../utils/variables";
@import "../components/expandableAnimation/animation";
@import "../components/footer/footer";
@import "../components/headerCover/headercover";
@import "../components/header/header";
@import "../routes/about/about";
@import "../routes/goodie/goodie";
@import "../routes/gallery/gallery";


body {
    margin: auto;
    max-width: 1240px;
    min-width: 320px;
}