.header {
   
    
    @include max-width;
    height: 100px;
    width: 100%;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 10px 20px;
    z-index: 999;
    
 
  }
  .header-container{
    @include max-width;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }  
  
  .nav {
    display: flex;
    min-width: 25%;
    @include align;
    margin-right: 30px;
  }
  
  .nav ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    @include flex-column;
    @media screen and (min-width: 500px){
      @include flex-row;
    }
    
  }
  
  .nav li {

    width: 100%;
    margin-left: 10px;
    
  }

  .nav a {
    font-size: 24px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: $primary;
    cursor: pointer;
    padding-right: 20px;

  }
  

 .active span {
    border-bottom: solid 2px $primary;
  }