@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin align{
    justify-content: center;
    align-items: center;
}

@mixin max-width {
    max-width: 1240px;
}
@mixin min-width {
    min-width: 350px;
}

@mixin border-radius-10{
    border-radius: 10px;
}