.footer {
    height: 10%;
    width: 100%;
    background-color: $black;
    color: $white;
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    z-index: 3;
}
.footer-logo {
    margin-top: 1%;
    width: 150px;
    height: 30px;
  }
.footer p{
    letter-spacing: 0.1em;
}