@keyframes quality-appearance {
    from {
      
      opacity: 0;
    }
    to {
      opacity: 1;
      
    }
  }
.expandable p, .scroller-expandable p, .scroller-expandable li {
  animation-name: quality-appearance;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
@keyframes expandable-appear {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 150px;
      opacity: 1;
    }
  }
  
  .expandable, .scroller-expandable {
    overflow: none;
  }
  
  .expandable.appear, .scroller-expandable.appear {
    animation-name: expandable-appear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .rotate {
    transition : transform 0.3s;
    transform: rotate(180deg);
  }
  .reverse {
    transition : transform 0.3s;
    transform: rotate(0deg);
  }